# VS Code
.vscode/

# Git
.gitattributes
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp

# Variables de entorno
.env

# Videos (si no quieres subirlos)
*.mp4
*.mov